/* General Styles */
/* color palette: https://coolors.co/ead2ac-df928e-c58882-d1dede-1d201f*/
h1 {
    text-align: center;
    color: #73413C;
    text-shadow: 2px 1px 2px #C58882;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #A24F4E;
    text-shadow: 0px 1px 1px #C58882;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: #A24F4E;
    text-shadow: 2px 1px 0px #f6a8a1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    text-align: center;
}

.main-nav {
    color: #ff7f7f;
}

.main-nav a {
    /*margin: 0 15px;*/
    text-decoration: none;
    color: #ff7f7f;
    font-weight: bold;
}

.main-nav a:hover {
    color: #c08081;
    text-decoration: underline;
}

footer {
    text-align: center;
}

.footer-links {
    text-align: center;
    color: #f08080;
}

footer a {
    text-decoration: none;
    color: #f08080;
    font-weight: bold;
}

footer a:hover {
    color: #c08081;
    text-decoration: underline;
}

body {
    background-color: #fff7ee;
    color: #1d201f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background: #C58882;
    margin: 20px 0;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
    background-color: #faedec;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*Introduction*/
.intro-photo {
    text-align: center;
    margin: 20px 0;
}

.intro-photo img {
    border: 5px solid #C58882;
    border-radius: 10px;
}

.main-container blockquote {
    color: #363636;
    border-left: 4px solid #C58882;
    margin: 20px;
    margin-left: 50px;
    padding-left: 15px;
    text-align: left;
}

/*Website Evaluations*/
.evaluations li {
    margin-bottom: 10px;
}

.evaluations a {
    color: #A24F4E;
    text-shadow: 2px 1px 0px #f6a8a1;
    font-weight: bold;
    text-decoration: none;
}

.evaluations a:hover {
    text-decoration: underline;
}

/*FCC RWD Certification Pages*/
.fcc-nav {
    text-align: center;
}